/** src/styles.css
 * Este archivo contiene los estilos globales de la aplicación.
 * Se aplican a todos los elementos y componentes de la aplicación.
 */ 

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.App {
  font-family: sans-serif;
}

/* Contenedor de botones en una sola fila */
.btn-container {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  flex-wrap: wrap;
}

/* Ajusta los botones existentes */
.btn {
  padding: 10px 12px;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* azul */
.btn-blue {
  background-color: #2563eb; 
}
.btn-blue:hover {
  background-color: #1e40af;
}
/* verde */
.btn-green {
  background-color: #16a34a;
}
.btn-green:hover {
  background-color: #166534;
}

/* Rojo */
.btn-red {
  background-color: #e74c3c;
}

.btn-red:hover {
  background-color: #c0392b;
}
/* Amarillo */
.btn-yellow {
  background-color: #f1c40f;
}

.btn-yellow:hover {
  background-color: #d4ac0d;
}

/* Morado */
.btn-purple {
  background-color: #9b59b6;
}

.btn-purple:hover {
  background-color: #8e44ad;
}
/* Naranja */
.btn-orange {
  background-color: #e67e22;
}

.btn-orange:hover {
  background-color: #d35400;
}

